@import url('./_constants.css');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    padding-top: 100px;
}

.wrapper {
    width: 500px;
    margin: auto;
}

.title {
    color: var(--main-color);
    text-align: center;
    padding: 20px;
    font-size: 8rem;
}

.todoRegisterDiv {
    display: flex;
    background-color: white;
    justify-content: start;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
}

.todoRegisterIconDiv {
    margin-right: 20px;
    color: var(--place-holder-color);
    cursor: pointer;
    transition: var(--transition-delay);
}

.todoRegisterIconDiv:hover {
    transition: var(--transition-delay);
    color: green
}

.todoRegisterInput {
    border: none;
    border-radius: 10px 10px 0px 0px;   
    font-size: 1.5rem;     
}

.todoRegisterInput:focus {
    outline: none;
}

.todoRegisterInput::placeholder {
    color: var(--place-holder-color);
}

.todoItemDiv {
    display: flex;
    align-items: center;
    background-color: white;
    border-top: .5px solid rgb(230, 230, 230);
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
}

.todoItemDiv:hover .todoItemDeleteIcon {
    color: var(--place-holder-color);
}

.todoItemIconDiv {
    padding: 20px;
    transition: var(--transition-delay);
}

.todoItemCheckIcon {
    color: var(--place-holder-color);
}

.todoItemCheckIcon:hover {
    transition: var(--transition-delay);
    color: green;
}

.todoItemDeleteIcon {
    color: transparent;
}

.todoItemDiv:hover .todoItemDeleteIcon:hover {
    transition: var(--transition-delay);
    color: red;
}

.todoItemTitle {
    flex-grow: 1;
    padding: 20px 0px;
}

.todoItemTitleDone {
    text-decoration: line-through;
    color: var(--place-holder-color);
}

.statusBar {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}